/* CSS file for the no_results page */

#edit-advanced-search {
  width: 98.5% !important;
}

#edit-basic {
  width: 100% !important;
}

#edit-reset-filters {
  width: auto !important;
  padding: 0px 10px !important;
}
