#advanced-search-link {
  float: left;
  margin-left: 15px;
}

div.content.clearfix > br {
  display: none;
}

.search_result_item.odd {
  background-color: #FFFFFF;
}

.search_result_item.even{
  background-color: #F5F5F5;
}

#edit-basic {
  float: right;
  width: 72.5%;
}

#edit-basic .form-item-keys {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#edit-basic .form-item-keys .description {
/*For some reason display table made submit buttons appear correctly*/
  display: table;
}

