#saveButton{
    margin-top:20px;
    float:right;
    width:175px;
}

#deleteButton{
    margin-top:20px;
    float:right;
    width:175px;
}

#edit-jobid{
    display:none;
}

/* layout */
#edit-basic{
	float:left;
	width: 15%;
    height:340px;
    margin-top:0px;
}
#edit-cutoffs{
	float:left;
	width: 20%;
    height:340px;
    margin-top:0px;
}
#edit-significance{
	padding:0 0 10px 12px;
	margin-top: 6px;
}
#edit-report{
	padding:0 0 10px 12px;
	margin-top: 6px;
}

#edit-datasets{
	float:left;
    width:57%;
    margin-top:0px;
}
#edit-submit{
	width:80px;
}

#warning{
	width:100%;
	display:none;
	margin-top:10px;
	margin-bottom:10px;
}
#warning>div{
	padding:6px;
	border: 1px solid;
	color: rgb(116, 85, 0);
	background-color: rgb(255, 255, 221);
	font-size:10pt;
	font-weight:bold;
	line-height:14px;
}

/* outer instructions div, to span 100% of width */
#instructions{
	width:100%;
	display:none;
	margin-top:10px;
	margin-bottom:10px;
}
/* inner instructions div, to pad from the right side of 100% width */
#instructions>div{
	padding:6px;
	border: 1px solid;
	color: #D8000C;
	background-color: #FFBABA;
	font-size:10pt;
	font-weight:bold;
	line-height:14px;
}


#edit-sequence{
	font-family:monospace;
	display:inline-block; /* weird firefox bug */
	width:733px;
    height:175px;
	resize:none;
	float:left;
	clear:none;
}

#stupidWrapperForFirefox{
    /* this surrounds #edit-organisms, the list of datasets . FF can't apply these permissions to fieldsets so we're putting them on a div*/
    overflow:auto;
    text-overflow: clip;
    height:323px;
    width:100%;
    float:left;
    margin:0px;
    line-height: 100%;
}

#edit-organisms{
    border:none;
    padding:0;
    margin:0;
}

#edit-controlfield{
width:112px;
height:160px;
float:left;
padding:8px;
padding-left:10px;
margin:0;
margin-left:16px;
margin-bottom:5px;
margin-top:-5px;
}

#edit-result {
	color:#666666;
}



input[type=submit] {
width:70px;
}

#clearButton{
 margin-top:2px;
 margin-left:20px;
}

.form-item-lookup{
	margin-top:-5px;
}

.form-item-description{
  margin-top: -10px ;
}

.form-submit{
}



#hmmerSubmitButton{

background: #d2e099; /* Old browsers */
background: -moz-linear-gradient(top, #d2e099 0%, #b1ca49 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#b1ca49)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d2e099 0%,#b1ca49 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d2e099 0%,#b1ca49 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d2e099 0%,#b1ca49 100%); /* IE10+ */
background: linear-gradient(to bottom, #d2e099 0%,#b1ca49 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 ); /* IE6-9 */

border-color:#859937;
color:#014f85;

margin-top:0px;
margin-left:20px;

}
/* style input types */
label[for="edit-sigsequence"]{
float:left;
width:80px;
}
input[name="sigSequence"]{
float:left;
margin-bottom:6px;
}

label[for="edit-sighit"]{
clear:left;
float:left;
width:80px;
}
input[name="sigHit"]{
float:left;
}

label[for="edit-reportsequence"]{
float:left;
width:80px;
}
input[name="reportSequence"]{
float:left;
margin-bottom:6px;
}

label[for="edit-reporthit"]{
clear:left;
float:left;
width:80px;
}
input[name="reportHit"]{
float:left;
clear:right;
}

.block-hmmer .block-title {
  text-transform: capitalize;
}

.form-item-custom-checkbox {
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}
