.ds-descript {
    float: left;
    width: 550px;
    padding: 1%;
}

.ds-descript2 {
    float: right;
    padding: 1%;
    position:relative;
    left: -150px;
}
.ds-infoButton {
    float: left;
    width: 850px;
}
.field-label{
    text-weight: bold;
}
.label-above{
    font-weight:bold;
}

.ds-rowFluid {
    float:left;
    padding:1%;
    width:830px;
    line-height: 25px;

}
.lightGreen {
    background: #8DC478;
}
.file{
    line-height: 43px;
}
.info {
    float:right;
    position:relative;
    top:-24px;
    left:-621px;

}
.data-file-download-link{
    width:2px;
}
