
.quicktabs_wrapper.quicktabs-style-navlist-custom {
  display: block;
  /*width: 100px;*/
  /*position: relative;
  float: left;
  z-index: 10; /* tabbed list floats above archive box */
 /* margin: 6px 0 0 0;
  background: transparent;*/
}

ul.quicktabs-tabs.quicktabs-style-navlist-custom {
  /*float: left;
  padding: 4px 0;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 20%;*/
  width: 10%;
  position: relative;
  float: left;
  z-index: 10; /* tabbed list floats above archive box */
  margin: 15px 0 0 0;
  background: transparent;

  list-style-type: none;
  padding: 0;

}
ul.quicktabs-tabs.quicktabs-style-navlist-custom li {
  /*display: block;
  margin-right: -1px;*/
  padding: 0;

  /*margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #27638c;
  font-size: 1.1em;*/
  /*border: solid 1px #fff;*/
  /*border-right: solid 1px #b3b3b3;
  /*-moz-border-radius-topleft: 5px;  /* Firefox */
  /*(-moz-border-radius-bottomleft: 5px;  /* Firefox */
  /*-webkit-border-top-left-radius: 5px;  /* Safari, Chrome */
  /*-webkit-border-bottom-left-radius: 5px;  /* Safari, Chrome */
  /*border-top-left-radius: 5px;  /* CSS3 */
  /*border-bottom-left-radius: 5px;  /* CSS3 */
}

ul.quicktabs-tabs.quicktabs-style-navlist-custom li a {
  display: block;
  /*color: #404040;
  text-decoration: none;
  margin: 0;
  height: 23px;
  font-weight: normal;*/

  margin: 0;
  padding: 8px 0;
  text-align: center;
  color: #27638c;
  font-size: 1.3em;
  /*border: solid 1px #fff;*/
  border-right: solid 1px #b3b3b3;
  -moz-border-radius-topleft: 5px;  /* Firefox */
  -moz-border-radius-bottomleft: 5px;  /* Firefox */
  -webkit-border-top-left-radius: 5px;  /* Safari, Chrome */
  -webkit-border-bottom-left-radius: 5px;  /* Safari, Chrome */
  border-top-left-radius: 5px;  /* CSS3 */
  border-bottom-left-radius: 5px;  /* CSS3 */
}
ul.quicktabs-tabs.quicktabs-style-navlist-custom li.active {
  /*background: #F0F8FC;
  border-top: 1px solid #BFD0FF;
  border-bottom: 1px solid #BFD0FF;*/
/*
  color: #f87b07;
  background: #fff;
  border: solid 1px #b3b3b3;
  border-right: none;
  padding-right: 1px;*/
}
ul.quicktabs-tabs.quicktabs-style-navlist-custom li.active a {
  color: #007734;
  font-weight: bold;
  color: #f87b07;
  background: #fff;
  border: solid 1px #b3b3b3;
  border-right: none;
  padding-right: 1px;
}

.ajax-progress {
  float: left;
}
  

.quicktabs_main.quicktabs-style-navlist-custom {
  /*float: left;
  border: 1px solid #BFD0FF;
  background: #F0F8FC;
  padding: 10px;
  min-height: 64px;
  position: relative;
  z-index: 1;
  width: 70%;*/
  min-height: 420px; 
  position: relative;
  float: left;
  margin: 0 0 0 -1px; /* allows tabbed list to overlap this box by 1px so active tab connects to box */
  padding: 10px 22px;
  width: 80%;
  border: solid 1px #b3b3b3;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */ 
}

.quicktabs_main.quicktabs-style-navlist-custom .views-row {
  margin: 12px 0;
  line-height: 1.3em;
}

.view-content .views-row {
  margin: 12px 0;
  line-height: 1.3em;
}

.panel-col-last .panel-separator {
  margin: 0 0 5em 0;
}

.panel-col-last .inner {
  margin: 1em 0 0 0 ;
}
