#saveButton{
    margin-top:20px;
    float:right;
    width:175px;
}

#deleteButton{
    margin-top:20px;
    float:right;
    width:175px;
}

#edit-jobid{
    display:none;
}

#edit-fast{
    float:left;
    width: 195px;
}

#edit-full{
    float:left;
    width: 195px;
}

#edit-multiple{
    float:left;
    width: 195px;
}

#edit-output{
    float:left;
    width: 195px;
}

#edit-basic{
    float:left;
    width: 195px;
}


#clustalSubmitButton{


    background: #d2e099; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2e099 0%, #b1ca49 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#b1ca49)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2e099 0%,#b1ca49 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 ); /* IE6-9 */

    border-color:#859937;
    color:#014f85;

    margin-top:0px;
    margin-left:20px;


}

input[type=submit]{
    width:70px;
}

#sendToHMMer{

    /* PURE GREEN
        background: #86e27a;
    background: -moz-linear-gradient(top,  #86e27a 0%, #71bf67 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86e27a), color-stop(100%,#71bf67));
    background: -webkit-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: -o-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: -ms-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: linear-gradient(to bottom,  #86e27a 0%,#71bf67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e27a', endColorstr='#71bf67',GradientType=0 );
    border-color:#56914E;
    color:#355930;
    */

    background: #d2e099; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2e099 0%, #b1ca49 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#b1ca49)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2e099 0%,#b1ca49 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 ); /* IE6-9 */

    border-color:#859937;
    color:#014f85;

    margin-left:0px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    text-transform:none;
    width:140px;


}

.outer-message-div{
    width:100%;
    display:none;
    margin-top:10px;
    margin-bottom:10px;
}

.inner-warning-div{
    padding:6px;
    border: 1px solid;
    color: #D8000C;
    background-color: #FFBABA;
    font-size:10pt;
    font-weight:bold;
    line-height:14px;
}

.inner-info-div{
    padding:6px;
    border: 1px solid;
    color: rgb(116, 85, 0);
    background-color: rgb(255, 255, 221);
    font-size:10pt;
    font-weight:bold;
    line-height:14px;
}

#edit-sequence{
    font-family:monospace;
    display:inline-block; /* weird firefox bug */
    width:733px;
    height:175px;
    resize:none;
    float:left;
    clear:none;
}

#edit-controlfield{
    width:112px;
    height:160px;
    float:left;
    padding:8px;
    padding-left:10px;
    margin:0;
    margin-left:16px;
    margin-bottom:5px;
    margin-top:-5px;
}

.form-item-lookup{
    margin-top:-5px;
}

.form-item-description{
    margin-top: -10px ;
}

.form-submit{
}

#clearButton{
    margin-top:2px;
    margin-left:20px;
}


#scores{
    font-family: monospace;
    border: 1px solid black;
    padding: 6px;
    display:none;
    color:black;
}

.block-clustalw .block-title {
    text-transform: capitalize;
}
