
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #27638C;

}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 300%;
  line-height: 120%;
}


/* HTML Elements
-------------------------------------------------------------- */
/* Add padding here if desired so edges of theme aren't flush with browser window */
html {
  background: #F4F7E7;                               /* background & font color */
  color: #666;
}


/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
#header-site-info.block {
  margin-bottom: 0;
}

#logo {
  float: left;
  margin: 0 15px 0 0;
}

#site-name-wrapper  {
  float: left;
}

#site-name {
  line-height: 125%;
}

/* Typography for site slogan */
#slogan {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 116.7%; /* 14px/12px */
  margin-top: -5px;
}

/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
#header-group-wrapper {
  background: #fff;
}

#header-top-wrapper {
  background: #e1e1e1;
  border-bottom: 1px solid #ccc;
}

/* This is the Header region in which you can place (small) blocks */
#header-group-inner {
  padding: 20px 0;
}


/* Main Menu
/-------------------------------------------------------------- */
#main-menu {
  clear: both;
}

/* Primary Menu
/-------------------------------------------------------------- */
#main-menu .block-superfish {
  float: right;
  margin: 0;
  width: auto;
}

.block-superfish ul.sf-style-default {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 100%; /* 12px/12px */
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.block-superfish ul.sf-style-default li {
  background: transparent;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  z-index: 9;
}

.block-superfish ul.sf-style-default li:last-child,
 .block-superfish ul.sf-style-default li:active-trail.last-child{
  margin-right: 0;
}

/* nonmoused over parents */
.block-superfish ul.sf-style-default li a:link,
.block-superfish ul.sf-style-default li a:visited {
  background-color: #e1e1e1;
  border: none;
  color: #154B70;

background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #e8e8e8 0%, #d6d6d6 35%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(35%,#d6d6d6), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#d6d6d6 35%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8e8e8 0%,#d6d6d6 35%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8e8e8 0%,#d6d6d6 35%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8e8e8 0%,#d6d6d6 35%,#cccccc 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
border: 1px solid #d1d1d1;

  display: block;
  padding: 3px 10px 2px 10px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  z-index: 10;
  
}


/* Second level - Hovers for parent menu item */
.block-superfish ul.sf-style-default li a:hover,
.block-superfish ul.sf-style-default li a:focus,
.block-superfish ul.sf-style-default li:hover a:link,
.block-superfish ul.sf-style-default li:hover a:visited,
.block-superfish ul.sf-style-default li.active-trail a:link,
.block-superfish ul.sf-style-default li.active-trail a:visited {
  background: #b5ee48; /* old browsers */
  background: -moz-linear-gradient(top, #b5ee48 0%, #95cf1a 27%, #95cf1a 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5ee48), color-stop(27%,#95cf1a), color-stop(100%,#95cf1a)); /* webkit */
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5ee48', endColorstr='#95cf1a',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #b5ee48 0%,#95cf1a 27%,#95cf1a 100%); /* opera */  color: #fff;

background: #255370; /* Old browsers */
background: -moz-linear-gradient(top,  #3e87b7 0%, #3a7daa 27%, #255370 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e87b7), color-stop(27%,#3a7daa), color-stop(100%,#255370)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3e87b7 0%,#3a7daa 27%,#255370 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3e87b7 0%,#3a7daa 27%,#255370 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3e87b7 0%,#3a7daa 27%,#255370 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3e87b7 0%,#3a7daa 27%,#255370 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e87b7', endColorstr='#255370',GradientType=0 ); /* IE6-9 */

border: 1px solid #3e87b7;
border-bottom: 1px solid #255370;
color:#B5EE48;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.block-superfish ul.sf-style-default li:hover,
.block-superfish ul.sf-style-default li.active-trail {
  background-color: transparent;
 }


/* Second level - non moused over children */
.block-superfish ul.sf-style-default li ul,
.block-superfish ul.sf-style-default li:hover ul {
  background: #154b70;
  background:#255370;


  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 91.7%; /* 11px/12px */
  margin-top: -3px;
  padding: 0 0 3px 0;
  /*position: absolute;*/
  text-align: left;
  text-transform: none;
  z-index: 12;
  postion:fixed;
  /*
  opacity: 0.95;
  filter: alpha(opacity=95);
  */

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  color: #92ca2c;
  border:none;

}

/* highlighted menu item */
.block-superfish ul.sf-style-default li ul li,
.block-superfish ul.sf-style-default li:hover ul li {
  background: #154b70;
  background:#255370;
  color: #92ca2c;
  border-bottom: 1px solid #83A638;
  border:none;
  padding-left: 0;
}

.block-superfish ul.sf-style-default li ul li:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
}

.block-superfish ul.sf-style-default li ul li:first-child {
  border-top: 0;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  
}


/* non moused over menu children */
.block-superfish ul.sf-style-default li ul li a:link,
.block-superfish ul.sf-style-default li ul li a:visited,
.block-superfish ul.sf-style-default li:hover ul li a:link,
.block-superfish ul.sf-style-default li:hover ul li a:visited,
.block-superfish ul.sf-style-default li.active-trail ul li a:link,
.block-superfish ul.sf-style-default li.active-trail ul li a:visited {
  background: #154b70;
  background:#255370;
  color: #eee;
  padding-left: 10px;
  border:none;
border-bottom: 1px solid #386787;
}

.block-superfish ul.sf-style-default li ul li a:hover,
.block-superfish ul.sf-style-default li ul li a:focus,
.block-superfish ul.sf-style-default li:hover ul li a:hover,
.block-superfish ul.sf-style-default li:hover ul li a:focus,
.block-superfish ul.sf-style-default li.active-trail ul li a:hover,
.block-superfish ul.sf-style-default li.active-trail ul li a:focus {
  color: #fff;
  color: #92ca2c;
}

/* this is the menu location currently being viewed */
.block-superfish ul.sf-style-default li ul li a.active {
  text-decoration: underline;
}

/* Third level */
.block-superfish ul.sf-style-default li ul li ul,
.block-superfish ul.sf-style-default li:hover ul li ul,
.block-superfish ul.sf-style-default li.hover ul li ul {
  font-size: 100% !important;  /* 11px/12px */
  margin-top: 0 !important;
}

/* Primary menu - Nolink */
#primary-menu ul.menu li span.nolink  {
  color: #154B70;
  display: block;
  padding: 5px 10px 1px 10px;
  text-decoration: none;
}

#primary-menu ul.menu li span.nolink:hover,
#primary-menu ul.menu li span.nolink.hover,
#primary-menu ul.menu li:hover span.nolink,
#primary-menu ul.menu li.hover span.nolink,
#primary-menu ul.menu li.active-trail span.nolink {
  color: #fff;
}

#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink,
#primary-menu ul.menu li:hover ul.menu li span.nolink,
#primary-menu ul.menu li.hover ul.menu li span.nolink {
  background: #98D022;
  background:#255370;
  color: #154B6F;
  padding-left: 10px;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink:hover,
#primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
  color: #fff;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
#secondary-menu.block {
  float: right;
  width: auto;
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
  font-size: 91.7%; /* 11px/12px */
  line-height: 100%;
  margin: 15px 0 0 0;
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
  line-height: 120%;
  margin: 0;
  padding: 0;
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  border-left: 1px solid #ccc;
  padding: 0 10px;
}

.secondary-menu-inner ul.links li.first a:link,
.secondary-menu-inner ul.links li.first a:visited {
  border-left: none;
  padding-left: 0;
}

.secondary-menu-inner ul.links li.last a:link,
.secondary-menu-inner ul.links li.last a:visited {
  padding-right: 0;
}


/*  Preface Regions
-------------------------------------------------------------- */
#preface-top-outer {
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  border-top: 3px solid #a7ce38;
  background: #2f76a5; /* old browsers */
  background: -moz-linear-gradient(top, #2f76a5 0%, #2c74a3 8%, #2c72a0 13%, #266795 34%, #276895 35%, #276794 36%, #256692 38%, #286693 39%, #24638e 45%, #25628e 46%, #23618d 48%, #22618c 49%, #1f5e86 54%, #225c87 56%, #1d5d85 57%, #1d5880 64%, #1d5980 65%, #1a567e 67%, #1a547b 70%, #1c557c 71%, #19537a 72%, #19537a 74%, #1c537a 75%, #195279 76%, #174e74 88%, #144c71 91%, #174c71 92%, #144a6e 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f76a5), color-stop(8%,#2c74a3), color-stop(13%,#2c72a0), color-stop(34%,#266795), color-stop(35%,#276895), color-stop(36%,#276794), color-stop(38%,#256692), color-stop(39%,#286693), color-stop(45%,#24638e), color-stop(46%,#25628e), color-stop(48%,#23618d), color-stop(49%,#22618c), color-stop(54%,#1f5e86), color-stop(56%,#225c87), color-stop(57%,#1d5d85), color-stop(64%,#1d5880), color-stop(65%,#1d5980), color-stop(67%,#1a567e), color-stop(70%,#1a547b), color-stop(71%,#1c557c), color-stop(72%,#19537a), color-stop(74%,#19537a), color-stop(75%,#1c537a), color-stop(76%,#195279), color-stop(88%,#174e74), color-stop(91%,#144c71), color-stop(92%,#174c71), color-stop(100%,#144a6e)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f76a5', endColorstr='#144a6e',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #2f76a5 0%,#2c74a3 8%,#2c72a0 13%,#266795 34%,#276895 35%,#276794 36%,#256692 38%,#286693 39%,#24638e 45%,#25628e 46%,#23618d 48%,#22618c 49%,#1f5e86 54%,#225c87 56%,#1d5d85 57%,#1d5880 64%,#1d5980 65%,#1a567e 67%,#1a547b 70%,#1c557c 71%,#19537a 72%,#19537a 74%,#1c537a 75%,#195279 76%,#174e74 88%,#144c71 91%,#174c71 92%,#144a6e 100%); /* opera */
  color: #FFFFFF;
  min-height: 24px;
  padding-top: 30px;
}

.preface-top a:link,
.preface-top a:visited {
  color: #fff;
  text-decoration: underline;
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
  background: #E4EDC2; /* old browsers */
  background: -moz-linear-gradient(top, #E4EDC2 0px, #F5F7E7 55px, #F5F7E7 100%); /* firefox */
  background: -webkit-linear-gradient(top, #E4EDC2 0px, #F5F7E7 55px, #F5F7E7 100px); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4EDC2', endColorstr='#F5F7E7',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #E4EDC2 0%,#F5F7E7 55%,#F5F7E7 100%); /* opera */
  border-top: 2px solid #FFFFFF;
  padding-top: 40px;
}


/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-bottom-wrapper {
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  border-top: 3px solid #a7ce38;
  background: #2f76a5; /* old browsers */
  background: -moz-linear-gradient(top, #2f76a5 0%, #2c74a3 8%, #2c72a0 13%, #266795 34%, #276895 35%, #276794 36%, #256692 38%, #286693 39%, #24638e 45%, #25628e 46%, #23618d 48%, #22618c 49%, #1f5e86 54%, #225c87 56%, #1d5d85 57%, #1d5880 64%, #1d5980 65%, #1a567e 67%, #1a547b 70%, #1c557c 71%, #19537a 72%, #19537a 74%, #1c537a 75%, #195279 76%, #174e74 88%, #144c71 91%, #174c71 92%, #144a6e 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f76a5), color-stop(8%,#2c74a3), color-stop(13%,#2c72a0), color-stop(34%,#266795), color-stop(35%,#276895), color-stop(36%,#276794), color-stop(38%,#256692), color-stop(39%,#286693), color-stop(45%,#24638e), color-stop(46%,#25628e), color-stop(48%,#23618d), color-stop(49%,#22618c), color-stop(54%,#1f5e86), color-stop(56%,#225c87), color-stop(57%,#1d5d85), color-stop(64%,#1d5880), color-stop(65%,#1d5980), color-stop(67%,#1a567e), color-stop(70%,#1a547b), color-stop(71%,#1c557c), color-stop(72%,#19537a), color-stop(74%,#19537a), color-stop(75%,#1c537a), color-stop(76%,#195279), color-stop(88%,#174e74), color-stop(91%,#144c71), color-stop(92%,#174c71), color-stop(100%,#144a6e)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f76a5', endColorstr='#144a6e',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #2f76a5 0%,#2c74a3 8%,#2c72a0 13%,#266795 34%,#276895 35%,#276794 36%,#256692 38%,#286693 39%,#24638e 45%,#25628e 46%,#23618d 48%,#22618c 49%,#1f5e86 54%,#225c87 56%,#1d5d85 57%,#1d5880 64%,#1d5980 65%,#1a567e 67%,#1a547b 70%,#1c557c 71%,#19537a 72%,#19537a 74%,#1c537a 75%,#195279 76%,#174e74 88%,#144c71 91%,#174c71 92%,#144a6e 100%); /* opera */
  color: #FFFFFF;
  min-height: 24px;
}

.postscript-bottom-wrapper a:link,
.postscript-bottom-wrapper a:visited {
  color: #fff;
  text-decoration: underline;
}

.footer-message {
  border-top: 1px solid #D6DDB9;
  font-size: 91.7%; /* 11px/12px */
  padding: 10px 0;
  text-align: center;
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  border-bottom: 1px solid #D6DDB9;
  clear: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 183.3%; /* 22px/12px */
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 5px;
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}

.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {                                        /* block titles, node titles */
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 133.3%; /* 16px/12px */
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* Colors and styles for linked node titles */
h2.title a:hover,
h2.title a:focus,
h2.title a:active {
  color: #619CBE;
  text-decoration: none;
}  

div.node h2.title {
  border-bottom: 1px solid #d6ddb9;
}

/* Separators and padding for node teasers */
.teaser {
  padding-bottom: 15px;
}

/* Author/date info */
.meta {
  font-size: 91.7%; /* 11px/12px */
  margin-bottom: 10px;
}

.submitted, 
.terms {
  font-size: 100%; /* 12px/12px */
}

.terms {                                      /* styling for byline and tags */
  font-size: 100%; /* 12px/12px */
}

.terms {
  line-height: 130%;
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.content-region .content-inner .content-inner-inner .content ul.terms,
.content-region .content-inner .content-inner-inner .content ul.links {
  margin: 0;
}

.node ul.links li,
.node ul.inline li,
.node .links a {
  background: transparent;
  margin: 0;
  padding: 0 14px 0 0;    /* LTR */
}

div.full-node .inner .content {
  border-bottom: 1px solid #D6DDB9;
}

div.full-node .inner .block .content {
  border: none;
}

div.full-node.node-type-panel .content,
div.full-node .panel-panel .content {
  border-bottom: none;
}

#content-content .node ul.links li.comment_forbidden a {
     /* LTR */
}

#content-content .inner {
  margin-top: 0;
}

/* Just more/read more links */
.node .read-more a,
.node .more-link a,
.node .links a {
  font-size: 108.3%; /* 13px/12px */
  font-weight: bold;
  margin: 0;
}

hr {
  border: 1px solid #D6DDB9;
}

.user-picture {
  float: right;    /* LTR */
  margin: 0 0 2px 4px;    /* LTR */
  padding: 2px;
  position: relative;
  z-index: 10;
}

blockquote p {
  font-style: italic;
  margin: 0;
  padding: 8px 20px;
}

blockquote {
  background: url(/skins/acquia_marina_default/images/close-quote.png) no-repeat 100% 100%;    /* LTR */
  color: #5A6A78;
  margin: 10px 0;
}

blockquote p:first-child {
  background: url(/skins/acquia_marina_default/images/open-quote.png) no-repeat 0 100%;    /* LTR */
  padding: 0 0 0 20px;    /* LTR */
}

blockquote * > :first-child {
  background: transparent;
  padding: 0;
}

blockquote a:link {
  text-decoration: underline;
}

/* Lists */
.content-content .content ul {
  margin: 0 0 10px 20px;
}

.content-content .content ol {
  margin: 0 0 10px 40px;
}

.content-content .content ul ul,
.content-content .content ol ol {
  margin: 5px 0 5px 10px;
}

.content-content .content ul li {
  background: url(/skins/acquia_marina_default/images/green-bullet.png) no-repeat 0 2px;
  list-style: none;
  list-style-image: none;
  margin-bottom: 5px;
  padding: 0 0 0 15px;
}


/* Drupal messages
/-------------------------------------------------------------- */
/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* Required field */
.marker,
.form-required {
  color: #aa1144;
}

div.messages,
div.messages.status {
  background: #FFFCE3;
  border: 2px solid #EED300;
  color: #C28E00;
  font-weight: bold;
  font-size: 116.7%; /* 14px/12px */
  margin: 20px 0pt;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #656C9B;
}

div.error {
  background-color: #fff2f2;
  border-color: #f00;
  color: #b20000;
}

table.update {
  margin-bottom: 10px;
}

table.update tr td {
  padding: 2px;
}

table.update tr.error td {
  background-color: #edd9be;
}

table.update table.version td.version-links ul {
  margin: 0;
}

table.update table.version td.version-links ul li {
  padding: 0 0 0 1em;
}

table.update tr.ok td {
  background-color: #e3ecc0;
}

table.update tr.warning td {
  background-color: #ffc;
}

table.update tr.warning .project a:link,
table.update tr.warning .project a:visited, 
.version-status .not-current {
  color: #900;
}


/* Pagers
-------------------------------------------------------------- */
.inner ul.pager {
  margin-left: 0;
}

.inner ul.pager li {
  background: transparent;
  margin: 0 2px;
  padding: 0;
}

.inner ul.pager li a:link,
.inner ul.pager li a:visited,
.inner ul.pager li.pager-current {
  background: #FDFFEF;
  border-color: #266996;
  color: #27638C;
  font-weight: bold;
  font-size: 108.3%; /* 13px/12px */
  padding: 5px 10px;
}

.inner ul.pager li.pager-current {
  background-color: #D9DBCD;
  color: #000;
  display: block-inline;
  padding: 5px 10px;
}

.inner ul.pager li a:hover,
.inner ul.pager li a:active,
.inner ul.pager li a:focus {
  background-color: #EAEFCB;
  border-color: #266996;
  color: #27638C;
}


/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  background: #4186b5; /* old browsers */
  background: -moz-linear-gradient(top, #4186b5 0%, #3b81af 9%, #286e9b 25%, #3478a6 84%, #4186b5 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4186b5), color-stop(9%,#3b81af), color-stop(25%,#286e9b), color-stop(84%,#3478a6), color-stop(100%,#4186b5)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4186b5', endColorstr='#4186b5',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #4186b5 0%,#3b81af 9%,#286e9b 25%,#3478a6 84%,#4186b5 100%); /* opera */
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%; /* 12px/12px */
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 4px;
  text-transform: uppercase;
  outline: 1px solid #9BABB0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
  background: #4186b5; /* old browsers */
  background: -moz-linear-gradient(top,#4186b5 100%, #3478a6 84%, #286e9b 25%, #3b81af 9%,     #4186b5 0% ); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#4186b5), color-stop(84%,#3478a6), color-stop(25%,#286e9b), color-stop(%9,#3b81af), color-stop(0%,#4186b5)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4186b5', endColorstr='#4186b5',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #4186b5 100%,#3478a6 84%,#286e9b 25%,#3b81af 9%,#4186b5 0%); /* opera */  cursor: pointer;
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  background: #f4f8fb; /* old browsers */
  background: -moz-linear-gradient(top, #f4f8fb 0%, #f4f9fc 52%, #fafbfd 78%, #fcfcfc 88%, #fafcfb 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f8fb), color-stop(52%,#f4f9fc), color-stop(78%,#fafbfd), color-stop(88%,#fcfcfc), color-stop(100%,#fafcfb)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fb', endColorstr='#fafcfb',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #f4f8fb 0%,#f4f9fc 52%,#fafbfd 78%,#fcfcfc 88%,#fafcfb 100%); /* opera */
  border: 1px solid #9BABB0;
  color: #666;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
  border: 1px solid #D6DDB9;
  margin: 15px 0;
  padding: 10px;
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
  font-weight: bold;
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  font-weight: bold;
}

/* Tables
-------------------------------------------------------------- */
/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #E3ECC0;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #FDFFEF;
  border-bottom: 1px solid #ccc;
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

td {
  padding: 3px;
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
#comments .inner {
  margin: 0;
}

/*-unpublished comments-*/
.inner #comments .comment-unpublished {
  background: #fff4f4;
  border: none;
}

#comments .marina-rounded-corners .inner-wrapper {
  padding: 0;
}

#comments .marina-rounded-corners .inner-wrapper .inner-inner {
  background: none;
  padding: 3px;
}

#comments .block-icon {
  height: 48px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 48px;
  z-index: 100;
}

#comments h2.comments-header {
  background: #94CE18;
  color: #fff;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 133.3%; /* 16px/12px */
  font-weight: bold;
  padding: 6px 14px 6px 50px;
  text-shadow: #545454 1px 1px;
  text-transform: uppercase;
}

#comments .content {
  background: transparent;
  border: none;
}

#main-wrapper #comments a.active {
  color: #27638C;
  text-decoration: none;
}

.box {
  padding: 10px;
}

#comment-form {
  margin: 0 0 20px;
  padding: 0 20px;
}

.comment {
  border: none;
  margin: 6px 0 0;
  padding: 10px;
}

.comment h3.title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.comment .links a {
  font-size: 100%; /* 12px/12px */
  text-align: right;    /* LTR */
}

#comments .odd {
  background: #F4F7E7;
  border: 1px solid #ddd;
}

#comments .odd .even {
  background: transparent;
}

#comments .even {
  background: #fff;
}

#comments .comment-by-author {
  background: #FFFFEA;
}

.comment ul.links {
  clear: right;  
  display: inherit;
  text-align: right;    /* LTR */
}

#content-content .comment ul.links li {
  background: transparent;
  margin: 0 10px 0 0;    /* LTR */
  padding: 0;
}

.signature {
  border-top: 1px solid #d6ddb9;
  font-family: serif;
  font-size: 100%; /* 12px/12px */
  margin: 10px 0;
  padding: 0;
}

#comments .new {
  float: right;
  font-weight: bold;
  text-transform: uppercase;  
}


/* Forum
/-------------------------------------------------------------- */
.forum-topic-navigation {
  border-top: 1px solid #D6DDB9;
  border-bottom: 1px solid #D6DDB9;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
/* Styles for sub-headings on user profiles */
.profile .picture {
  float: none;
}

.profile dt {
  background-color: #ccc;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  clear: both;
  float: left;
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited {
  color: #27638C;
  font-size: 108.3%; /* 13px/12px */
  text-transform: uppercase;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #94CE18;
  color: #4A95C8;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus {
  border-bottom: 4px solid #94CE18;
  color: #4A95C8;
}


/* Horizontal user login bar */
.fusion-horiz-login form input.form-submit {
  font-size: 83.3%; /* 10px/12px */
}

.fusion-horiz-login #user-login-form {
  padding-top: 1px;
}

