
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */


/* change the color of the top of site banner with the div id in the footer (don't ask) */
/* Green notification message */

.breadcrumbs {
border-bottom: 1px solid #d6ddb9;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f6e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f6e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f6e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f3f6e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f3f6e0 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f3f6e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f6e0',GradientType=0 ); /* IE6-9 */
font-size: 12px;
padding:5px 0;
font-weight:bold;
}

#bannerMessage{
position:fixed;
left:25%;
top:2px;
border:1px solid;
background-color:#B2E8B2;
font:bold 14px Arial;
padding:4px;
z-index:999;
color: #004400;

}
/* Yellow warning message */
#warningMessage{
position:fixed;
left:50%;
top:2px;
font:bold 14px Arial;
padding:4px;
z-index:999;
border:1px solid;
background-color:#c3c517;
width: 350px;
margin-left:-175px;
/*color: #888a00;*/
color:black;
}



/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */
/*
a,
a:link,
a:visited {
	color: #003300;
}
*/

/* ---- site wide updates ---- */


/* ---- Header Info ---- */

/*
#header-group-wrapper {
	background: #004400;
}

#header-group-wrapper a {
	color: white;
}
#header-group-wrapper a:link {
	color: white;
}
#header-group-wrapper a:visited {
	color: white;
}
*/


/* menu stuffs */
/* fix necessary for correct rendering of biomart submenus - see VB-2419*/
td.menuarrowtext {
  color:#eee;
  font-size: 11px;
  font-weight: bold;
}
/* species italics "stuffs" :-) */
div.menuarrowleft {width:auto; display:inline-block;}
div.menuarrowright {width:auto; float:right;clear:both;}


body.node-type-organism h1 { font-style: italic; }
div.node-organism h2 { font-style: italic; }
div.field-name-field-organism div.field-item, div.field-name-field-organisms div.field-item  { font-style: italic; }

/* Monkey around with width to force nowrap */
/*
li.sf-depth-2 ul {width:auto; min-width:100%;}
li.sf-depth-1 ul {width:auto !important; min-width:100%;}
li.sf-depth-1 ul {border:1px solid #366688 !important; }
*/

/* species names below thumbnails on front page */
div.view-display-id-block_1 div.field-content.organism-name {line-height:1.2em; font-style: italic; font-size: 90%; }
div.view-display-id-block_2 div.field-content.organism-name {line-height:1.2em; font-style: italic; font-size: 90%; }

div.view-id-organisms .more-link {margin-top:0.8em;}
div.view-id-organisms td {vertical-align:top}

/* krumo messages disabled for Bob TEMPORARILY */
/* div.krumo-root { display: none } */

/* Tags displayed inline, not vertically */
div.field-name-field-tags div.field-items div {
  float: none;
  display: inline-block;
  padding-right: 1ex;
}

/* align the organism image to the right */
div.float-right img {
  float: right;
  margin-left: 10px;
}

/*  fix data frontpage alignment */
div.buttonbar {
  margin-top: 7px
}

/* cancel the weird horizontal rule below simple custom blocks (e.g. spacer 20px) */
div.full-node .inner .content {
    border-bottom: none;
}

/* make some space between two columns in display suite layout */
div.ds-2col-stacked div.group-left, div.ds-2col div.group-left {
  width: 47%;
}
div.ds-2col-stacked div.group-right, div.ds-2col div.group-right {
  width: 47%;
  margin-left: 6%;
} 
div.ds-3col div.group-middle, div.ds-3col-stacked div.group-middle {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
}

/* better spacing for view blocks in display suite */
div.field {
  margin-bottom: 30px;
}

/* Bob 2012-07-05 for taxonomy term edit page */
select#edit-parent {
  height: 200px;
}

/* bottom-align organism names in front page thumbnail grid */
div.view-organisms table.views-view-grid div.views-field-title {
  /* don't know how to do this! */
}

/* content type name in left sidebar */
div.rotate-90 {
  font-size: 40px;
  width: 600px;
  color: #ccc;
  margin-top: 375px;
  margin-left: -300px;
  text-align: right;
  -moz-transform: rotate(-90deg);  /* Mozilla - Firefox 3.5+ */ 
  -o-transform: rotate(-90deg);  /* Opera 10.5+ */ 
  -webkit-transform: rotate(-90deg); /* Chrome, Safari */ 
  transform: rotate(-90deg);   /* W3C - not really reqd yet */
  /* IE6-8 Values: 0, 1, 2, 3 for 0, 90, 180 or 270 degress respectively */ 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
  /*-ms-transform: rotate(-90deg);  /* Microsoft - Internet Explorer 9 - not needed.*/
}
body.ie div.rotate-90 {
  margin-left: -25px;
  margin-top: 40px;
  height: 200px;
  line-height: 1.5em;
}
.region-sidebar-first {
  width: 50px;
}
/* next class selector should ideally be more specific to pages with the 90degree content type left sidebar */
body.one-sidebar.sidebar-first  .grid16-12 {
    width: 910px;
}

/* This increases the width for the specific node that contains the Ontology Browser */
body.page-node-9766565 * div.main {
    width: 1170px;
}
body.page-node-9766565 * #main-group {
    width: 1120px;
}
body.page-node-9766565 * #content-group {
    width: 1120px;
}

/* very obviously temporary genome browser link button */
div.genome-browser-link-container {
  border: 2px solid lightgreen;
  background: pink;
  padding-left: 5px;
  width: 60px;
}

/* who added this, and what for? */
.views-table {
margin-bottom:35px;
}

/* views-table for organisms doesn't need this bottom margin */
/* .view-strains-and-more-for-organism .views-table, .view-assemblies-for-strain .views-table {
  margin-bottom: 0px;
}
*/

/**** styling view-strains-and-more-for-organism for organisms page ****/
/* float the button */
div.view-strains-and-more-for-organism div.views-field-field-ensembl-name {
  float: right;
  margin-right: 50px; /* careful - not too much */
}
div.view-strains-and-more-for-organism {
  font-size: 100%;
  line-height: 110%;
}
/* bit of a hack: zero height needed for Chrome */
/* Chrome table elements seem to have implicit clear:both */
/* now it is possible for the image to overlap with text */
div.view-strains-and-more-for-organism div.views-field-field-ensembl-name div {
  height: 0px;
  overflow: visible;
}
div.view-strains-and-more-for-organism td {
  padding-left: 0px;
}
/* and to stop things overlapping make the outer table fixed height */
div.view-strains-and-more-for-organism div.views-field-field-ensembl-name + div.views-field-title + div.views-field-view td {
  height: 3em;
}
/* but let the inner tables be auto */
div.view-strains-and-more-for-organism div.views-field-field-ensembl-name + div.views-field-title + div.views-field-view td td {
  height: auto;
}

/* bold the strain name */
div.views-field-field-ensembl-name + div.views-field-title {
  font-weight: bold;
}
/* put the date next to gene set */
div.view-gene-builds-and-more-for-assembly div.views-field-title {
  float: left;
}
/* and give the date some space */
div.views-field-field-release-date span {
  padding-left: 10px;
}
/* on strain page, indent gene sets */
div.view-gene-builds-and-more-for-assembly.view-display-id-block td {
  padding-left: 10px;
}

.view-grouping-header {
	font-size:20px;
	margin-bottom:2px;
}

caption {
	margin-bottom:2px;
	font-size:20px;
}

.view-grouping-content caption {
	font-size:16px;
	margin-left:5%;
}

/* ---- header adjustments ---- */


html {
  background-color: #EBF1CF;
}

#header-group-wrapper {
    background-color: #f5f7e7;
    background-image: url('/sites/default/files/ftp/images/header_bkgrnd.png');
    background-attachment: top;
    background-position: left;
    background-repeat: repeat-y;
/*
  min-height: 133px;
*/
}

/* search box top-right 

#block-search-form {
  float:right;
  width:300px;
  text-align:right;
  margin-top: 23px;
}
*/

#block-search-form {
  width: 280px; /*This should NOT be hard-coded. But the rendering on the various "tools" pages wraps the button if left to its own layout*/
  float: right;
  background-color: #cedf9b;
  border: #a9c850 2px solid;
  border-top: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  background-clip: border-box;
}

#block-login_block-login_block {
  margin-top: 10px;
  margin-right: 0px;
  width: auto;
  float: right;
}

div.block-login-block > div.gutter {
  width: 200px;
  text-align: right;
  margin-right: 0px;
}

/* logo */
#logo img {
  /*width: 65px;
  height: 65px;*/
  margin-top: 10px;
}

.in-maintenance .page #logo {
  float: left;
}


/* v-centre sitename with logo */
#site-name {
  padding-top: 30px;
}

#site-name-wrapper {
  vertical-align: middle;
}

/* lose the blue panel below the menu */
#preface-top-outer {
  display:none;
}

/* add a green strip to separate menus/content + fix bg in webkit */
#main-wrapper {


  border-top: #154B6F 3px solid;
/*
  border-top: #95CF1A 3px solid;
*/
  background: -webkit-gradient(linear, left top, left bottom, from(#E4EDC2) 0px, to(#F5F7E7) 55px, to(#F5F7E7) 100%) repeat scroll 0 0 transparent; /* webkit browsers */
  min-height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index:1; /*greg added*/
}

#content-group {
  height:100%;
}

#content-group-inner {
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
  box-shadow: 0px 0px 10px #666;
}
#sidebar-second-inner {
  /*padding-top: 5px;*/
  padding-bottom: 5px;
  margin-left: 0px;
}

/* ---- footer adjustments ---- */

/* change main footer colours and border */
#footer-wrapper {
  background: #E8EFCC; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1E098', endColorstr='#EBF1CF'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#D1E098), to(#EBF1CF)); /* webkit browsers */
  background: -moz-linear-gradient(top, #D1E098, #EBF1CF); /* firefox 3.6+ */ 
  border:0px;
  border-top: #95CF1A 3px solid;
  color: #164666;
  /*padding-top: 15px;*/
}

/* roughly centre logos and links */
#postscript-bottom-inner table td {
  padding: 3px 15px
}

/* change final footer bg */
#footer-wrapper {
  background-color: #EBF1CF;
}

/* hide 'x's on organism-taxonomy view */
span.taxonomy-tree-has-✖-organisms {
  display: none;
}

/* set styles for arrows and icons embedded in the menu */
div.menico {
  display: table;
  width: 100%;
}

div.menicol {
  display: table-cell;
  vertical-align: middle;
}

div.menicor {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

img.menico {
  float: right;
}

/* center the more links */
div.more-link.view-organisms {
  text-align: center;
}

.taxonomy-level-Species {
  font-style: italic;
}
#taxonomy-subterms-map ul ul li a {
  font-style: italic;
}
/* for BRC postscript banner */
  table.brc-postscript {
    border-collapse: separate;
    border:none;
    padding:0px;
    margin-top: 0px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    border-spacing: 0px 0px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .brc-postscript-title {
    text-align: center;
  }
  .brc-postscript-list {
  }
  .brc-postscript-cell {
    text-align: center;
    padding:0px 4px;
  }
  .brc-postscript-link {
    text-decoration: none;
  }
  .brc-postscript-linktext {
    font-weight: bold;
  }

/* style for the all-in-one single footer */
  div.single-footer {
    text-align: center;
    padding: 5px 0px;
  }

/* style for shorter header */
  #header-group-inner {
    padding-top: 0px;
    padding-bottom: 0px;
  }

div.block.block-block.contextual-links-region {
  margin-bottom: 0em;
}


/* clean up the "main" strain/assembly/gene set table
   on the organism pages */
.view-strains-and-more-for-organism table table * {
  border-collapse: separate;
  border: 0px;
  }
/* clean up the color alternation in nested tables */
.view-strains-and-more-for-organism tr.even tr.odd * {
  background-color: #E3ECC0;
}

/* emphasise RNA-seq genome browser link */

form input.form-submit {
  padding: 4px 10px;
  color: #666;
  text-align: center;
  border: solid 1px #999;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */
  background-clip: border-box;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #c1c1c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%,#e5e5e5), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* 
  Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%,#c1c1c1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', 
  endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
  outline:none;
  font-family:inherit;
}

/* Header Search Button */
#search * #edit-submit, #search * #edit-submit--2, #search-form * .form-submit {
  width: 30px;
  height: 30px;
 padding:0px;
  border: 1px solid #006c8d;
  border-radius: 15px;
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari, Chrome */
  background-clip: border-box;
  background: #006790; /* Old browsers */
  color: #FFFFFF;
  background: -moz-linear-gradient(top, #8dcde6 0%, #006790 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%,#e5e5e5), color-stop(100%,#006790)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8dcde6 0%,#006790 100%); /* 
  Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8dcde6 0%,#006790 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8dcde6 0%,#006790 100%); /* IE10+ */
  background: linear-gradient(to bottom, #8dcde6 0%,#006790 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dcde6', 
  endColorstr='#006790',GradientType=0 ); /* IE6-9 */
}


div.communitysection {
    width: 100%;
    vertical-align: top;
    height: auto;
}
div.communitytable {
  display: table;
}
span.leftcell {
    display: table-cell;
    vertical-align: top;
}
span.rightcell {
    display: table-cell;
    vertical-align: top;
    width: 292px;
}
div.buttonbar {
    width: 100%;
    display: table;
}
span.databutton {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.sectionheader {
    color: #a3bb43;
}
.verticalheader {
  /* IE6-8 Values: 0, 1, 2, 3 for 0, 90, 180 or 270 degress respectively */ 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
  /*-ms-transform: rotate(-90deg);  /* Microsoft - Internet Explorer 9 - not needed.*/
  -moz-transform: rotate(-90deg);  /* Mozilla - Firefox 3.5+ */ 
  -o-transform: rotate(-90deg);  /* Opera 10.5+ */ 
  -webkit-transform: rotate(-90deg); /* Chrome, Safari */ 
  transform: rotate(-90deg);   /* W3C - not really reqd yet */
}

.dataheader {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.communityheader {
  margin-left: -43px;
  margin-right: -48px;
  margin-top: 120px;
  margin-bottom: 120px;
}
body.ie .dataheader {
  margin-left: 5px;
  margin-top: 20px;
  margin-right: -20px
  line-height: 100%;
}
body.ie .communityheader {
  margin-left: 17px;
  margin-top: 65px;
  margin-right: -107px;
  line-height: 100%;
}
.frontsubsection {
    border: 0;
    border-top: solid 3px #d2e099;
    border-bottom: solid 3px #d2e099;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f5f7e7;
}
div.introsection {
    padding-bottom: 20px;
}
div.toolsection {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 370px;
}
a.buttonlink {
    text-decoration: none;
    /*color: inherit;*/
}

div.socialfeed {
    background: #fff;
    -moz-box-shadow: 0px 0px 8px #666;
    -webkit-box-shadow: 0px 0px 8px #666;
    box-shadow: inset 0px 0px 8px #666;
    height: 470px;
    width: 292px;
    overflow: hidden;
}
div.communitybuttons {
    display: table;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -1px;
}
div.communitybutton {
padding: 10px;
margin: 4px;
color: #666666;
text-align: center;
border: solid 1px #b3b3b3;
background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #c1c1c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%,#e5e5e5), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* 
Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%,#c1c1c1 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e5e5 0%,#c1c1c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', 
endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
display: inline-block;
}
#curategenes{
width: 90.5%;
text-align: left;
}
#repeats{
width: 45%;
padding-left: 2px;
padding-right: 2px;
}
#addtranscript{
width: 45%;
padding-left: 2px;
padding-right: 2px;
}
#linkgenes{
width: 45%;
padding-left: 2px;
padding-right: 2px;
}
#submitpopdata{
width: 45%;
padding-left: 2px;
padding-right: 2px;
}

span.communitycell {
    text-align: center;
    vertical-align: middle;
    width:33%;
}
div.communityarrow {
width: 280px;
height: 50px;
bottom: 10px;
right: 300px;
font-family: "Myriad Pro", sans-serif;
font-size: 0.95em;
text-align: left;
padding: 10px 30px 10px 10px;
background-color: #d2e099;
background-image: url('/sites/default/files/ftp/images/arrow_detail.png');
background-attachment: top;
background-position: right;
background-repeat: no-repeat;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}
#block-views-did_you_know-block {
  border: 0;
  /*border-top: solid 2px #f5f7e7;
  border-bottom: solid 2px #f5f7e7;*/
  /*background-image: url('/sites/default/files/ftp/images/sidebar_highlight.png');*/
  background-attachment: top;
  background-position: left;
  background-repeat: repeat-y;
  padding-top: 10px;
  padding-bottom: 10px;
}
#block-views-newsletter_jumpmenu-block {
  border: 0;
  /*border-top: solid 2px #f5f7e7;
  border-bottom: solid 2px #f5f7e7;*/
  /*background-image: url('/sites/default/files/ftp/images/sidebar_highlight.png');*/
  background-attachment: top;
  background-position: left;
  background-repeat: repeat-y;
  padding-top: 10px;
  padding-bottom: 10px;
}
#block-user_welcome-welcome_block {
  /*border-bottom: solid 2px #f5f7e7;*/
}
.title {
  color: #00638a;
}
.right-more-link {
  float: right;
  text-align: right;
}
#node-9766779 {
  margin-left: -10px;
  margin-right: -10px;
}
#node-9766779 >h2 {
  display: none;
}
div.clearfixfix {
  margin-left: 3px;
  margin-right: 10px;
}

div.field-content.organism-name {
  text-align: center;
}

div.views-row-even {
  background-color: #EEEEEE;
}
div.top-tip-row {
  padding: 10px 10px 10px 10px;
}
#socialcontainer {
}
.sf-depth-1 {
  border: solid 1px #999;
  border-bottom: 0;

  -moz-border-radius-topleft: 5px;  /* Firefox */
  -moz-border-radius-topright: 5px;  /* Firefox */
  -webkit-border-top-left-radius: 5px;  /* Safari, Chrome */
  -webkit-border-top-right-radius: 5px;  /* Safari, Chrome */
  border-top-left-radius: 5px;  /* CSS3 */
  border-top-right-radius: 5px;  /* CSS3 */

  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top,  #e5e5e5 0%, #c1c1c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e5e5e5 0%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e5e5e5 0%,#c1c1c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e5e5e5 0%,#c1c1c1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e5e5e5 0%,#c1c1c1 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}
#menu-1002-1 > .sf-depth-1 {
  /* pointer-events: none; To disable the tools menu */
}

div.socialicons {
  text-align: center;
  padding-top: 15px;
}
div.socialicons img {
  width:50px;
  height:50px;
  padding: 15px 10px;
}

#block-views-forum_block-block {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

div.view-news > div > div.views-row-even {
  background-color: transparent;
}

div.sidebar-second-inner > div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

div.sidebar-second-inner > div.odd {
  background-color: #f5f7e7;
  background-image: url('/sites/default/files/ftp/images/sidebar_bkgrnd.png');
  background-attachment: top;
  background-position: left;
  background-repeat: repeat-y;
  background-color: transparent;
}

#block-system-main {
  margin-bottom: 0px;
}

#node-9766779 {
  margin-bottom: 0px;
}

#node-9766779 > #node-bottom {
  margin: 0 0 0;
}

#node-9766779 > div.field-name-body {
  margin-bottom: 0px;
}

body.ie #slideDescription {
    height: 1px;
}
body.ie #slideContent {
    float: left;
    width: 348px;
}
body.ie .toolsection {
    height: 390px;
}

/* The following does not work in FF (others not tested).
even with background-image: none;
Can't find a way to override the
background: linear-gradient(to bottom, #E8E8E8 0%, #D6D6D6 35%, #CCCCCC 100%) repeat scroll 0 0 transparent
set in the theme.
If I disable that line of CSS in firebug I can get the yellow element, but otherwise not.
Bob 31-10-2012
*/
li.sf-item-8.sf-depth-1 * {
  background: #ffff50;
}

/*This works whereas the part above may not*/
#menu-994-1 a {
background: #f5f7e6; 
background: -moz-linear-gradient(top, #f5f7e6 0%, #cfe19d 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f7e6), color-stop(100%,#cfe19d)); 
background: -webkit-linear-gradient(top, #f5f7e6 0%,#cfe19d 100%); 
background: -o-linear-gradient(top, #f5f7e6 0%,#cfe19d 100%); 
background: -ms-linear-gradient(top, #f5f7e6 0%,#cfe19d 100%); 
background: linear-gradient(to bottom, #f5f7e6 0%,#cfe19d 100%); 
/*Filters break ie compatibility (ironic because they're present only for ie*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7e6', endColorstr='#cfe19d',GradientType=0 );*/
}

#menu-994-1 a:hover, #menu-994-1 a.active{
background: #3e87b7; 
background: -moz-linear-gradient(top, #3e87b7 0%, #3a7daa 27%, #255370 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e87b7), color-stop(27%,#3a7daa), color-stop(100%,#255370)); 
background: -webkit-linear-gradient(top, #3e87b7 0%,#3a7daa 27%,#255370 100%); 
background: -o-linear-gradient(top, #3e87b7 0%,#3a7daa 27%,#255370 100%); 
background: -ms-linear-gradient(top, #3e87b7 0%,#3a7daa 27%,#255370 100%); 
background: linear-gradient(to bottom, #3e87b7 0%,#3a7daa 27%,#255370 100%);
/*Filters break ie compatibility (ironic because they're present only for ie*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e87b7', endColorstr='#255370',GradientType=0 ); */
}

/* hide the page title on 404 page */
.page-node-9766913 h1.title{
border:none;
display:none;
}

.page-node-9766913 div.404helpText {
text-align:left;
width:400px;
}


/* recent news block on organism page, vertically align date to top */
div.view-news-for-organism td.views-field-created { vertical-align: top; }


/* add triangles to sorted columns in tables */
th.headerSortUp{
background: url('/sites/all/themes/acquia_marina/js/tablesorter/themes/blue/asc.gif') no-repeat right center;
}
th.headerSortDown{
background: url('/sites/all/themes/acquia_marina/js/tablesorter/themes/blue/desc.gif') no-repeat right center;
}

.infoLink {
	display: inline-block;
	line-height: 32px;	
	background:
		url('/sites/default/files/ftp/icons/vb_info_32x32.png')
		center left no-repeat;
	padding-left: 35px;
}

#edit-submit-downloads, #edit-submit-organisms, #edit-submit, #edit-submit--2{
	background: #d2e099; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2e099 0%, #b1ca49 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#b1ca49)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2e099 0%,#b1ca49 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 ); /* IE6-9 */

	border-color:#859937;
	color:#014f85;
}

.title-tutorial-link{
  float: right;
  padding-right: 10px;
  vertical-align: top;
  font-size: medium;
  font-weight: normal;
}

.title-tutorial-link img{
  padding-right: 5px;
}

.tuticon,.releaseNoteLarge {
 height: 1px;
 position: relative;
 top :250px;
 left: 12px;
}
.news-image {
 height: 1px;
 position: relative;
 top: 162px;
 left: 616px;
}
.newsletter-img {
 height: 1px;
 position: relative;
 top: 92px;
 left: 616px;
}
.page-node-9768110 div.field, .page-node-9768217 div.field {
 margin-bottom: 0px;
}
.page-node-9766779 div.field {
 margin-bottom: 0px;
}
.saveDatasetsPlaceholder {
float:right;
font-size: 16px;
}

.page-node-9768224 div.field-item {
 height:20px;
}
