/*Removing this for now, but might need in the future
#block-vbsearch_facets-vbsearch_facets {
  position: absolute;
  padding-top: 60px;
}
*/

/*#block-vbsearch_facets-vbsearch_facets {
  width: 25%;
}*/

#block-vbsearch_facets-vbsearch_facets > .inner{
  margin: 0;
}

.search_filter_box {
  /*Overriding the search.css setting for width*/
  width: 100% !important;
  background-color: #FAFAF5 !important;
  height: 100%;
  /*overflow: auto;*/
  position: absolute;
  border-right: 1px solid #D6DDB9 !important;
  border-top: 1px solid #D6DDB0 !important;
  border-left: none !important;
  border-bottom: none !important;
}

.search_filters {
  overflow: auto;
  position: absolute;
  height: 98%;
  width: 97%;
}

#search_filter_div {
  position: absolute;
  top: 0px;
  bottom: 16px;
  width: 25%;
}

.block-vbsearch-facets {
  height: 100%;
}

.no-filter {
  height: 18px;
}

.filter {
  height: 18px;
}

#edit-reset-filters {
  width: auto !important;
  padding: 0px 10px !important;
}

.facetsort thead{
  cursor: pointer;
  /*background: #c9dff0;*/
}

.facetsort thead tr th.headerSortUp, .facetsort thead tr th.headerSortDown {
  /*background: #acc8dd;*/
}

.facetsort thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}

.facetsort thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}

.facetsort thead th {
  border-bottom: 1px solid #ccc;
}


