.ds-field{
 float:left;
 width:100%;
}
/*overriding max-width property for anything with this template*/
.region { 
 max-width:2000px !important;
}
.grid16-16 {
 width: 100% !important;
}
/*keeping header the same as rest of site */
#header-group-inner{
 max-width: 960px !important;
 /*margin-left: 470px !important;*/
 margin:auto !important;
 min-width:960px !important;
}

#main-menu {
 max-width: 960px !important;
}

.breadcrumbs {
 display:none;
}

.breadcrumb {
 display:none;
 max-width: 960px !important;
 margin:auto !important;
 min-width: 960px !important;
}

h1.title {
 display:none;
}
div.single-footer{
 margin:auto;
 min-width: 960px;
 max-width: 960px;
}
