
.panel-2col { 
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first { 
  float: left; 
  width: 70%; 
}
* html .panel-2col .panel-col-first {
  width: 69.9%;
}

.panel-2col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col .panel-col-last { 
  float: left; 
  width: 30%; 
}
* html .panel-2col .panel-col-last {
  width: 29.9%;
}

.panel-2col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
